<!DOCTYPE html>
    <html>
    <script type="text/javascript">
    	function myf(){
    		//alert('boo')
    		window.location.href="{% url 'ltable' %}"
    		document.ff.submit();
    	}
    </script>
    <h2>Question Banks</h2>
        <head>
        	<form method="POST">
        		{%csrf_token%}
        	{{form.as_p}}
        	<button type="submit" value="Submit">Sort</button></form>
        	<p> Sorted by: {{cur}} </p>
        </head>
        <body>
            
            <table cellpadding="10">
                <tr>
                    <th> Name22 </th>
                    <th> Marks </th>
                    <th> Date </th>
                </tr>
                {% for r in data %}
                <tr align="center">
                    <td align="center"><a href="{% url 'qpdet' r.id %}">
                        {% if r.Name|length > 20 %}
                        {{r.Name|slice:"0:20"}} ...
                    {% else %}
                      
                      {{r.Name}}
                      
                    {% endif %}</a>
                    </td>
                    <td> {{r.Marks | stringformat:"i"}}</td>
                    <td> {{r.Date}}</td>
                </tr>
                {% endfor %}
            </table>
           
        </body>
        </html>