
<!DOCTYPE html>
    <html>
    <script type="text/javascript">
    	function myf(){
    		//alert('boo')
    		window.location.href="{% url 'ltable' 'yell' %}"
    		document.ff.submit();
    	}
    </script>
    <h1>
        {{title}}
    </h1>
        <body>
            <table cellpadding="10">
                <tr>
                    <th> Content </th>
                    <th> Marks </th>
                    <th> Chapter </th>
                    <th> Section </th>
                </tr>
                {% for r in data %}
                <tr>
                    <td> 
                        {% if r.Content|length > 20 %}
                        {{r.Content|slice:"0:20"}}...
                    {% else %}
                      
                      {{r.Content}}
                      
                    {% endif %}
                    </td>
                    <td> {{r.Marks | stringformat:"i"}}</td>
                    <td> {{r.Chapter}}</td>
                    <td> {{r.Section}}</td>
                </tr>
                {% endfor %}
            </table>
           
        </body>
        </html>