
<!DOCTYPE HTML>
<html>
<head >
 
    <title>Basic Form</title>
     
    <meta charset="utf-8" />
     
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
<style>
.button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
</style>
</head>
<script type="text/javascript">
  function myf(){
    alert('Question submitted');
  }
  function GetElementInsideContainer(containerID, childID) {
    var elm = document.getElementById(childID);
    var parent = elm ? elm.parentNode : {};
    return (parent.id && parent.id === containerID) ? elm : {};
}


</script>
<script type="text/javascript">
  window.onunload = function() {
    var state = {};
  var title = "";
  var url   = "{% url 'cv' %}"
  history.replaceState(state, title, url);
}
      function myf1(){
        //alert('boo')
        window.location.href="{% url 'cv' %}"
       
      }
      function oc(ele){
        var i = ele.getAttribute('id')
        alert('loo')
        var x=ele.parentElement;
        //alert(x)
        var t=x.querySelector("textarea.ta")
        //alert(t.select())
        //alert(t.innerHTML)
        t.value+=','+i
      }
    </script>
{% load crispy_forms_tags %}

  <body  style=" text-align: left; background-color: #f5f7f8 !important;">
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
         <h1>Edit Question</h1>
   {% for owner_form in owner_forms %}
   <div>
    <h2>Question {{ owner_form.Qno }}<br></h2>
      <form class="petname_form" method="post">{% csrf_token %}  
         
         {{ owner_form.author_form|crispy }}
         {% if owner_form.isMod %}
         <h2>Subquestions: <br></h2>
         {{ owner_form.formset|crispy }}
         {% endif %}
        <button type="submit" onclick="myf1()">Submit</button>
      </form>
    </div>
   
    {% endfor %}
     
   
    
     
</div>

</div>
</div>
 </body>
</html>