{% extends "base_generic.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">
   $(document).ready(function(){
    $(".r").click(function(){
        window.location = $(this).attr('href');
        return false;
    });
});
</script>
<style>
     .r {
    cursor: pointer;
}

.r:hover {background-color:#f5f5f5;}
    </style>
<h1>
        {{title}}
    </h1>
        
            <table cellpadding="10">
                <tr>
                    <th> Content </th>
                    <th> Marks </th>
                    <th> Chapter </th>
                    <th> Section </th>
                    <th>Difficulty</th>
                </tr>
                {% for r in data %}
                <tr class="r" href="{% url 'detail' r.id %}">
                    <td>
                        {% if r.con|length > 20 %}
                        {{r.con|slice:"0:20"}}...
                    {% else %}
                      
                      {{r.con}}
                      
                    {% endif %}
                    </td>
                    <td> {{r.mar | stringformat:"i"}}</td>
                    <td> {{r.chap}}</td>
                    <td> {{r.Section}}</td>
                    <td> {{r.diff}}</td>
                </tr>
                {% endfor %}
            </table>
           
       {% endblock %}
       {% block sidebar %}
 <ul class="sidebar-nav">
          <ul class="sidebar-nav">
          <li style="list-style-type: none;"><h3>Hi {{user.username}}</h3></li>
          <li><a href="{% url 'cv'%}">Question Banks</a>
            <ul>
                <li><a href="{% url 'ini' %}"> Upload Question Bank</a></li>
            </ul>
          </li>
          <li><a href="{% url 'ltable'%}">Question Papers</a></li>
           <ul>
                <li><a href="{% url 'choose_frqp' %}"> Add Question Paper</a></li>
            </ul>
           <li><a href="{% url 'lv' %}"> All Questions</a></li>

        <li><a href="{% url 'logout' %}">Logout</a></li>
        
        <li><a href="{% url 'change_password' %}">Change Password</a></li>
        
        <li><a href="{% url 'change_email'%}">Change Email</a></li>
        </ul>
     {% endblock %}