{% extends "base_generic.html" %}
{% block content %}

    <script type="text/javascript">
        function myf(){
            //alert('boo')
            window.location.href="{% url 'ltable' %}"
            document.ff.submit();
        }
    </script>
    <h1>
        {{title}}
    </h1>
        
            <table cellpadding="10">
                <tr>
                    <th> Content </th>
                    <th> Marks </th>
                    <th> Chapter </th>
                    <th> Section </th>
                </tr>
                {% for r in data %}
                <tr>
                    <td> 
                        {% if r.Content|length > 20 %}
                        {{r.Content|slice:"0:20"}}...
                    {% else %}
                      
                      {{r.Content}}
                      
                    {% endif %}
                    </td>
                    <td> {{r.Marks | stringformat:"i"}}</td>
                    <td> {{r.Chapter}}</td>
                    <td> {{r.Section}}</td>
                </tr>
                {% endfor %}
            </table>
           
       {% endblock %}
       {% block sidebar %}
 <ul class="sidebar-nav">
          <li><a href="{% url 'cv'%}">Question Banks</a>
            <ul>
                <li><a href="{% url 'ini' %}"> Upload Question Bank</a></li>
            </ul>
          </li>
          <li><a href="{% url 'ltable'%}">Question Papers</a></li>
           <ul>
                <li><a href="{% url 'choose_frqp' %}"> Add Question Paper</a></li>
            </ul>
          </ul>
     {% endblock %}