    {% extends "base_generic.html" %}
{% block content %}
        <head>
            <title>Make Profile</title>
        </head>
    
            <center>
                <div >
                    <h2 class="display-4">Ini file upload</h2>
                    <p class="lead">Upload ini file and specify the title</p>
                    
                    <form method="POST" enctype="multipart/form-data">
                        <!-- Very Important csrf Token -->
                        {% csrf_token %}
                        <table cellspacing="10">
                            {{ form.as_table }}
                        </table>
                        <br>
                        <input type="submit" class="btn btn-primary btn-lg" name="register" onclick="document.upload.submit()">
                </div>
               
            </center>
            {% endblock %}
      
    {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'cv'%}">Question Banks</a>
            <ul>
                <li><a href="{% url 'ini' %}"> Upload Question Bank</a></li>
            </ul>
          </li>
          <li><a href="{% url 'ltable'%}">Question Papers</a></li>
           <ul>
                <li><a href="{% url 'choose_frqp' %}"> Add Question Paper</a></li>
            </ul>
          </ul>
     {% endblock %}