    <!DOCTYPE html>
    <html>
        <head>
            <title>Make Profile</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        </head>
        <body>
            <center>
                <div class="jumbotron">
                    <h2 class="display-4">Ini file upload</h2>
                            {% block replace %}
                    <p class="lead">Upload ini file and specify the title</p>
                    <hr class="my-4">
                    <form method="POST" enctype="multipart/form-data">
                        <!-- Very Important csrf Token -->
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <br>
                        <input type="submit" class="btn btn-primary btn-lg" name="register" onclick="document.upload.submit()">
                </div>
               
            </center>
            {% endblock %}
        </body>
    </html>